Click==7.0
Flask==1.0.3
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==0.15.5
openai==0.27.2
numpy==1.25.2
panda
waitress
paste
flask-cors
PyPDF2==3.0.1
pdfminer.six
discord==2.3.2
discord.py==2.3.2
langchain==0.0.315
pinecone-client==2.2.4
python-dotenv==1.0.0
redis==5.0.1
tiktoken==0.5.1
amplitude-analytics
google-search-results
boto3
bugsnag[flask]